---
layout: default
title: "JxmBar Blog"
---
<h1 class="page-header">
  <small>
    {{ site.description }}
  </small>
</h1>
<!-- {% include recommend.html %} -->

<!-- Loop output paged posts -->
	 
       {% for category in site.categories %}
	<div post-cate="{{category | first}}">


            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
 
                 <h2>
  <a href="{{ post.url | prepend: site.baseurl }}">
    {{ post.title }}
  </a> 
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ post.date | date_to_string }}
  </div>
</h2>
<hr>
{{ post.excerpt }}
	<p> <a href="{{ post.url | prepend: site.baseurl }}"><span >阅读全文 &raquo; </span></a></p>
<hr>

                {% endif %}
              {% endfor %}
            {% endfor %}
	</div>
        {% endfor %}

