          <ul class="nav navbar-nav">
            <li>
              <a href="{{ "/archives.html" | prepend: site.baseurl }}">
                归 档
              </a>
            </li>
            <li>
              <a href="{{ "/faqs.html" | prepend: site.baseurl }}">
                问 答
              </a>
            </li>
            <li>
              <a href="https://github.com/jxm080511321">
                项 目
              </a>
            </li>
            <li>
              <a href="{{ "/about.html" | prepend: site.baseurl }}">
                关 于
              </a>
            </li>
          </ul>
